<%=  render "videojs_dependencies" unless @embedded%>
<%= form_for @video, :url => refinery.videos_admin_video_append_to_wym_path(@video.id), :remote => true, :method => :post do |f| %>
    <div class='dimensions'>
    <div class='field'>
      <%= f.label t('.width') %>
      <%= f.text_field :width %>
    </div>
    <div class='field'>
      <%= f.label t('.height') %>
      <%= f.text_field :height %>
    </div>
    </div>
    <div class="options">
    <%= render('form_option_fields', :f => f) unless @embedded %>
    </div>
<% end %>
