<li style="min-height: 35px" class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(video) -%>">
  <span class='title'>
    <%= video.title %>
    <span class='short_info'>(
      <% video.short_info.each do |info| %>
       <%= "#{t(info[0])}: #{info[1]}" %>
    <% end %>)</span>
  </span>
  <% unless action_name =~ /insert/   %>
  <span class='actions'>
    <%= link_to '', refinery.videos_admin_video_path(video, :dialog => true),
                :class => 'preview_icon',
                :title => t('.view_live_html'),
                :target => "_blank" %>
    <%= link_to '', refinery.edit_videos_admin_video_path(video),
                :class => 'edit_icon',
                :title => t('.edit') %>
    <%= link_to '', refinery.videos_admin_video_path(video),
                :class => "cancel confirm-delete delete_icon",
                :title => t('.delete'),
                :confirm => t('message', :scope => 'refinery.admin.delete', :title => video.title),
                :method => :delete %>
  </span>
  <% end %>
</li>
